if has envkey-source; then
  eval $(envkey-source)
else
  echo "\
    ERROR: envkey-source not found in path.\
    To install:\
      brew tap envkey/envkey\
      brew install envkey-source\
    See: https://github.com/envkey/envkey-source\
  "
fi

if [ -f .envrc_local ]; then
    source .envrc_local
    watch_file .envrc_local
fi